.notification {
  
  display: flex;
  align-items:center;
  justify-content: space-between;
  flex-direction: row wrap;

  max-width: 75%;
  margin: 1em auto;
  background-color: lightseagreen;
  border-radius: .5em;
  padding: 0.5em 2em;
  color: white;
}

.notification-content {
  display: inline-flex;
  align-items: center;
}