button { border: none; }

.primary {
  padding: 5px 15px;
  margin: .5em;
  border-radius: 5em;
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .primary {
    color: white;
    border: 1px solid white;
  }
}

@media (prefers-color-scheme: light) {
  .primary {
    border: 1px solid black;
  }
}