footer > * {
  font-size: .8em;
}

.legal {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .legal { color: white; }
}

@media (prefers-color-scheme: light) {
  .legal { color: black; }
}