* {
  font: 20px/1.6 'Inter', sans-serif;
}

::selection {
  color: #fafafa;
  background: hotpink;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  animation: fadein 0.75s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222 top/75% url("./assets/tilingDark.svg");
    color: #f2f2f2;
  }

  a svg {
    color: #f2f2f2;
  }

  a svg:visited {
    color: #f2f2f2;
  }

  a svg:hover {
    color: hotpink;
  }

}

@media (prefers-color-scheme: light) {
  body {
    background: #fafafa top/75% url("./assets/tilingLight.svg");
    color: #222;
  }

  a svg {
    color: #f2f2f2;
  }

  a svg:visited {
    color: #f2f2f2;
  }

  a svg:hover {
    color: hotpink;
  }

}

.blurb {
  max-width: 60ch;
  p {
    font-weight: bold;
  }
  margin: 2em;
}

.wrapper {
  max-width: 90vw;
}